
<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <div class="logo-circle">B</div>
      <span class="logo-text">Bloggie</span>
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav Links -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="categoriesDropdown" role="button">
                Categories
            </a>

            <ul class="dropdown-menu dropdown_text list_container" >
                <li><a class="dropdown-item back_color" href="/category/cybersecurity">Cybersecurity</a></li>
                <li><a class="dropdown-item back_color" href="/category/programming">Programming</a></li>
                <li><a class="dropdown-item back_color" href="/category/ai">AI</a></li>
                <li><a class="dropdown-item back_color" href="/category/web-development">Web Development</a></li>
            </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

      </ul>

      <!-- Right Side -->
      <div class="d-flex align-items-center gap-3">

        <!-- Search -->
        <button class="icon-btn">
          🔍
        </button>

        <!-- Dark Mode -->
        <button id="themeBtn" class="icon-btn">
          🌙
        </button>

        <!-- Create Post -->
        <a href="/post" class="btn btn-primary rounded-pill px-4">
          Create Post
        </a>

      </div>

    </div>
  </div>
</nav>
