<form method="post">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
</form>
