<form method="post">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <textarea name="blog" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit">
</form>
